




<div class="componente-inicio-sesion">
    <div class="contenido">
        <div class="iniciosesion">
            <div class="encabezado">
                <div class="imagenencabezado"></div>
                <div class="tituloencabezado">
                    <h1 class="text-body">Deporte para todos</h1>
                </div>
            </div>
            <div class="contenidoiniciosesion">
                <form [formGroup]="loginForm" class="containerUsuarioContrasenia">
                    <span class="title-three-nrs">Inicio de sesión</span>
                    <br>
                    <span class="text-body-small-sb">
                        Usuario <span matTooltip="Este campo es obligatorio" matTooltipPosition="above"
                            class="campoTooltip" matTooltipClass="warn-tooltip-is" style="cursor: pointer;">*</span>
                    </span>
                    <mat-form-field class="rounded-form-field" appearance="outline">
                        <input matInput placeholder="Ingrese su correo aquí" formControlName="correo" required>
                        <mat-error *ngIf="loginForm.get('correo')?.invalid && loginForm.get('correo')?.touched">
                            El correo es obligatorio y debe ser válido.
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <span class="text-body-small-sb">
                        Contraseña <span matTooltip="Este campo es obligatorio" matTooltipPosition="above"
                            class="campoTooltip" matTooltipClass="warn-tooltip-is" style="cursor: pointer;">*</span>
                    </span>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Ingrese su contraseña aquí" formControlName="contrasenia" required>
                        <mat-error *ngIf="loginForm.get('contrasenia')?.invalid && loginForm.get('contrasenia')?.touched">
                            La contraseña es obligatoria.
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <button mat-raised-button color="primary" class="rounded-button-total" type="submit" [disabled]="loginForm.invalid">
                        Iniciar Sesión
                    </button>
                    <button class="w-100 btn btn-lg btn-google" (click)="login()">
                        <img src="https://img.icons8.com/color/22/000000/google-logo.png"> Ingresa con Google
                    </button>
                </form>
                <!--<form class="containerUsuarioContrasenia">
                    <span class="title-three-nrs">Inicio de sesión</span>
                    <br>
                    <span class="text-body-small-sb">
                        Usuario <span matTooltip="Este campo es obligatorio" matTooltipPosition="above"
                            class="campoTooltip" matTooltipClass="warn-tooltip-is" style="cursor: pointer;">*</span>
                    </span>
                    <mat-form-field class="rounded-form-field" appearance="outline">
                        <input matInput placeholder="Ingrese su correo aquí" formControlName="correo" required>
                        <mat-error class="text-body-extra-small-r" *ngIf="validadorCorreo.invalid"></mat-error>
                    </mat-form-field>
                    <br>
                    <span class="text-body-small-sb">
                        Contraseña <span matTooltip="Este campo es obligatorio" matTooltipPosition="above"
                            class="campoTooltip" matTooltipClass="warn-tooltip-is" style="cursor: pointer;">*</span>
                    </span>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Ingrese su contraseña aquí" formControlName="contrasenia" required>
                       
                        <mat-error class="text-body-extra-small-r" *ngIf="validadorContrasenia.invalid">
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <button mat-raised-button color="primary" class="rounded-button-total" type="submit">
                        Iniciar Sesión
                    </button>
                    <button class="w-100  btn btn-lg btn-google" (click)="login()">
                        <img src="https://img.icons8.com/color/22/000000/google-logo.png"> Ingresa con google
                    </button>
                </form>-->
            </div>
        </div>
        <div class="imagen"></div>
    </div>
    <div class="piepagina">
        <div class="barras">
            <div class="barra roja"></div>
            <div class="barra naranja"></div>
            <div class="barra amarillo"></div>
            <div class="barra azul"></div>
            <div class="barra morado"></div>
        </div>
        <div class="informacion">
            <div class="infoizq">
                <span class="subtitle">Universidad del Cauca</span>
                <span class="text-body-extra-small">NIT. 891500319-2</span>
            </div>
            <div class="infoder">
                <div class="infoderuno">
                    <span class="text-body-extra-small">SIMCA</span>
                    <span class="text-body-extra-small">Vicerrectoría Académica</span>
                    <span class="text-body-extra-small">Ejemplocorreo@unicauca.edu.co</span>
                </div>
                <div class="barrahorizontal"></div>
                <div class="infoderdos">
                    <span class="text-body-extra-small">División de Tecnologías de la Información y las Comunicaciones -
                        TIC</span>
                    <span class="text-body-extra-small">Versión 1.0.0</span>
                    <span class="text-body-extra-small">2024</span>
                </div>
            </div>
        </div>
        <div class="pieinformacion">
            <span class="text-body-extra-small">Institución con Acreditación de Alta Calidad por 8 años Resolución MEN
                6218 de 2019 - Vigilada MinEducación</span>
            <span class="text-body-extra-small">Política de Protección de Datos Personales - Política de Seguridad de la
                Información - Comunícate con nuestro Soporte Técnico</span>
        </div>
    </div>
</div>


<!--

<div class="text-center card container col-md-3">
    <div class="mt-5 mb-5">
        <img class="mb-4" src="./assets/imagesSystem/Logo-Universidad-del-Cauca-vertical.png" alt="" width="80"
            height="100">
        <h1 class="h3 mb-3 fw-normal">Inicio de sesión</h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
                formControlName="user">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mt-1">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                formControlName="password">
            <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primar" type="submit">Sign in</button>
        <div class="or-container">
            <div class="line-separator"></div>
            otras opciones
            <div class="line-separator"></div>
        </div>

        <button class="w-100  btn btn-lg btn-google" (click)="login()">
            <img src="https://img.icons8.com/color/22/000000/google-logo.png"> Ingresa con google
        </button>


        <div class="hand-icon-container" (mouseenter)="showTooltip = true" (mouseleave)="showTooltip = false">
            <img class="hand-gif" src="./assets/imagesSystem/Alert.gif" alt="Mano animada" />


            <div class="tooltip-message" *ngIf="showTooltip">
                ¡Haz clic para ingresar con Google!
            </div>
        </div>


    </div>
</div>


-->