.componente-inicio-sesion {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
}

.contenido {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.iniciosesion {
  flex: 1 1 50%;
  background-color: #ffffff;
}

.imagen {
  flex: 1 1 50%;
  background-image: url("/../assets/imagesSystem/portada.jpg");
  background-size: cover;
  background-position: left;
}

.encabezado {
  display: flex;
  height: 15%;
  width: 100%;
}

.imagenencabezado {
  width: 70px;
  margin-left: 4px;
  margin-top: 4px;
  background-image: url("/../assets/imagesSystem/Logo-Universidad-del-Cauca-vertical.png");
  border-right: 1px solid #000066;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.tituloencabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.contenidoiniciosesion {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerUsuarioContrasenia {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 20px;
}

.piepagina {
  display: block;
  height: 21%;
  width: 100%;
  background-color: #eeebeb;
  color: #777680;
}

.barras {
  display: flex;
  height: 2.5%;
  width: 100%;
}

.barra {
  width: 20%;
}

.roja {
  background-color: #db141c;
}

.naranja {
  background-color: #fc6c08;
}

.amarillo {
  background-color: #fbd000;
}

.azul {
  background-color: #20aae5;
}

.morado {
  background-color: #5a0dba;
}

.informacion {
  display: flex;
  height: 68%;
  width: 100%;
}

.infoizq {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  text-align: left;
}

.subtitle {
  font-family: "FiraSans-Bold";
  font-size: 18px;
}

.infoder {
  display: flex;
  width: 50%;
  padding-right: 110px;
  padding-top: 10px;
}

.infoderuno {
  display: flex;
  flex-direction: column;
  width: 38%;
  padding-right: 2%;
  text-align: right;
}

.barrahorizontal {
  display: flex;
  border-right: 1px solid #777680;
  margin-bottom: 15px;
}

.infoderdos {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 10px;
  text-align: left;
}

.pieinformacion {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .componente-inicio-sesion {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  .contenido {
    height: 70%;
    width: 100%;
  }

  .iniciosesion {
    width: 100%;
  }

  .imagen {
    display: none;
  }

  .encabezado {
    height: 15%;
    width: 100%;
  }

  .imagenencabezado {
    width: 70px;
  }

  .tituloencabezado {
    width: 70px;
  }

  .contenidoiniciosesion {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .containerUsuario {
    width: 250px;
  }

  .containerContraseña {
    width: 250px;
  }

  .piepagina {
    height: 300%;
    width: 100%;
  }

  .informacion {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .infoizq {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .infoder {
    width: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .infoderuno {
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
  }

  .barrahorizontal {
    display: none;
  }

  .infoderdos {
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
  }

  .pieinformacion {
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
  }
}

.btn-google {
  display: flex; /* Usamos Flexbox para alinear los elementos */
  align-items: center; /* Alinea verticalmente los elementos al centro */
  justify-content: center; /* Alinea los elementos horizontalmente */
  border: 1px solid #5b5c5e;
  border-radius: 5px;
  padding: 10px 20px;
  transition: border-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s ease;
  margin: 1%;
  margin-top: 2%;
}

.icon {
  margin-right: 8px; /* Añadimos un espacio entre el ícono y el texto */
}

.btn-google:hover {
  background-color: #777779 !important;
}


.text-body {
  font-family: "FiraSans-Regular";
  font-size: 20px;
}


/*********************************/
/* Estilo para el contenedor del gif */
.hand-icon-container {
  position: relative;
  display: inline-block;
  margin-top: 10px; /* Ajusta la distancia desde el botón de Google */
}

/* Estilo del gif de la mano */
.hand-gif {
  width: 40px; /* Ajusta el tamaño del gif */
  height: auto;
  cursor: pointer; /* Muestra el puntero al pasar el cursor */
}

/* Estilo del mensaje emergente */
.tooltip-message {
  position: absolute;
  bottom: 50px; /* Ajusta la distancia del mensaje desde el gif */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333; /* Fondo oscuro */
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  display: none;
  white-space: nowrap;
}

/* Mostrar el mensaje emergente solo cuando el cursor esté sobre el gif */
.hand-icon-container:hover .tooltip-message {
  display: block;
}



/*
.card{
  margin-top: 5%;
}
.btn-google {
border: 1px solid #5b5c5e; 
border-radius: 5px;
padding: 10px 20px; 
transition: border-color 0.3s ease;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
transition: box-shadow 0.2s ease; 
margin: 1%;
}
.btn-primar {
margin: 2%;
background-color: #000066 !important; 
color: #fcfcfd; 
border: 1px solid #000066; 
transition: background-color 0.3s ease; 
}

.btn-primar:hover {
background-color: #333399 !important; 
border-color: #333399 !important; 
}
.btn-google:hover {
  background-color: #777779 !important;
}



.hand-icon-container {
position: relative;
display: inline-block;
margin-top: 10px; 
}


.hand-gif {
width: 40px; 
height: auto;
cursor: pointer; 
}


.tooltip-message {
position: absolute;
bottom: 50px; 
left: 50%;
transform: translateX(-50%);
background-color: #333;
color: white;
padding: 5px 10px;
border-radius: 5px;
font-size: 14px;
display: none;
white-space: nowrap;
}


.hand-icon-container:hover .tooltip-message {
display: block;
}

.componente-inicio-sesion {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}



.btn-google {
  display: flex; 
  align-items: center; 
  justify-content: center;
  border: 1px solid #5b5c5e;
  border-radius: 5px;
  padding: 10px 20px;
  transition: border-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s ease;
  margin: 1%;
  margin-top: 2%;
}

.icon {
  margin-right: 8px; 
}

.btn-google:hover {
  background-color: #777779 !important;
}


*/
