
.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  padding: 20px; 
  width: 100%;
  box-sizing: border-box; 
  overflow: auto; 
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Cambiamos a 'stretch' para que el formulario ocupe todo el ancho posible */
  width: 90%;
  max-width: 600px; /* Limita el ancho del formulario para pantallas grandes */
  margin: 0 auto; /* Centra el formulario en pantallas más grandes */
}

.form-field {
  width: 100%; /* Hacemos que los campos ocupen todo el ancho disponible */
  margin-bottom: 10px; /* Espaciado entre campos */
}

mat-dialog-content {
  max-height: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}




/* Diseño responsivo */
@media (max-width: 600px) {
  .form-content {
    padding: 10px; /* Añadir un pequeño padding en pantallas pequeñas */
  }

  .form-field {
    width: 100%; /* Asegura que los campos ocupen el 100% en dispositivos pequeños */
  }

  .image-preview {
    max-height: 40vh; /* Reducir el tamaño de la imagen en pantallas pequeñas */
  }
}
