<app-header></app-header>
<div class="container d-flex justify-content-center">
    <div class="text-home col-lg-10 shadow p-3 mb-5 bg-white rounded">
        <h1 class="title-one">Deporte para todos</h1>
        <p>
            En la División de la Gestión de la Recreación y el Deporte se busca
            fortalecer la formación integral y el bienestar de todas aquellas personas
            que hacen parte de la comunidad universitaria mediante procesos y
            manifestaciones lúdicas, motrices y deportivas que complementen el
            desarrollo integral, que se implementan como procesos contribuyentes a la
            formación profesional para satisfacer sus necesidades e intereses de los
            sujetos vinculados, promoviendo la cultura de la práctica deportiva y el
            uso constructivo del tiempo libre.
            
        </p>
    </div>
</div>

<div class="content-tarjet">
    <mat-grid-list [cols]="colsize" rowHeight="400">
        <mat-grid-tile *ngFor="let item of listaEscenarios" [colspan]="1" [rowspan]="1" >
            <mat-card class="mycard shadow fixed-card">

                <div class="img-container" (click)="abrirCursosDeportivos(item.titulo)">
                    <img *ngIf="!!item.imagenBase64; else imagenPorDefecto"
                        [src]="'data:' + item.tipoArchivo + ';base64,' + item.imagenBase64" mat-card-image
                        alt="Imagen de categoría" />

                    <ng-template #imagenPorDefecto>
                        <img class="img-container" src="assets/imagesSystem/deporte.jpg" mat-card-image alt="Imagen por defecto" />
                    </ng-template>
                </div>

                <mat-card-content class="contenido">
                    <!--Menu de configuracion en tarjeta-->
                    <button class="btn-menu" mat-icon-button [matMenuTriggerFor]="menu" *ngIf="perfil === 'Administrador'">
                        <mat-icon>settings</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="onUpdate(item.titulo)">
                            <mat-icon>edit</mat-icon>
                            <span>Actualizar</span>
                        </button>

                        <button mat-menu-item (click)="onDelete(item.titulo)">
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                    </mat-menu>
                    <mat-card-title class="card_title title-three-nrs">{{ item.titulo }}
                    </mat-card-title>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary" (click)="verInformacion(item)"
                            style="border: none; background-color: transparent; color: black">
                            Ver información
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="container d-flex justify-content-center" *ngIf="perfil === 'Administrador'">
        <button class="btnAgregar" (click)="nuevaCategoria()">
            Nueva categoría curso +
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title col-11 text-center title-one" id="exampleModalLabel">
                    {{ categoriaSeleccionada?.titulo }}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ categoriaSeleccionada?.descripcion }}</p>
            </div>
        </div>
    </div>
</div>