<button mat-icon-button class="close-button" matDialogClose style="float: right;">
  <mat-icon>close</mat-icon>
</button>

<mat-dialog-content class="dialog-content">
  <header class="title-two">{{ isEditing ? 'Editar categoría' : 'Registrar categoría' }}</header>
  <form (ngSubmit)="onSubmit(categoriaForm)" #categoriaForm="ngForm" class="form-content">
    <mat-form-field  appearance="outline" class="form-field">
      <mat-label>Nombre</mat-label>
      <input matInput [disabled]="isEditing" placeholder="Nombre" [(ngModel)]="categoria.titulo" name="titulo" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Descripción</mat-label>
      <input matInput placeholder="Descripción" [(ngModel)]="categoria.descripcion" name="descripcion" required />
    </mat-form-field>

    <div class="form-field buttonImage">
      <input type="file" id="imagen" (change)="onFileSelected($event)" accept="image/*" required/>

      <div *ngIf="imagenPreview" class="preview">
        <img [src]="imagenPreview" alt="Vista previa" class="image-preview">
      </div>
    </div>

    <div class="form-buttons">
      <button mat-button type="button" class="cancelar" (click)="onCancel()">Cancelar</button>
      <button mat-raised-button class="aceptar" type="submit" [disabled]="!categoriaForm.form.valid">Aceptar</button>
      <!--<button mat-raised-button class="aceptar" type="submit">Aceptar</button>-->
    </div>
  </form>
</mat-dialog-content>