<button mat-icon-button class="close-button" matDialogClose style="float: right;">
  <mat-icon>close</mat-icon>
</button>

<mat-dialog-content class="dialog-content">
  <header class="title-two">{{ isEditing ? 'Editar usuario' : 'Registro de usuario' }}</header>
  <form (ngSubmit)="onSubmit(inscripcionForm)" #inscripcionForm="ngForm" class="form-content">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Nombre</mat-label>
      <input matInput [disabled]="isEditing" placeholder="Nombre" [(ngModel)]="perfil.nombre" name="nombre" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Correo institucional</mat-label>
      <input matInput placeholder="Correo institucional" [(ngModel)]="perfil.correo" name="correo" type="email" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Tipo de identificación</mat-label>
      <mat-select [(ngModel)]="perfil.tipoId" name="tipodocumento" placeholder="Tipo de documento">
        <mat-option *ngFor="let tipo of tipoDocumento" [value]="tipo">
          {{ tipo }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Numero identificación</mat-label>
      <input matInput placeholder="Número identidad" [(ngModel)]="perfil.id" name="identificacion" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Sexo</mat-label>
      <mat-select [(ngModel)]="perfil.sexo" name="sexo" placeholder="Sexo">
        <mat-option *ngFor="let tipo of sexo" [value]="tipo">
          {{ tipo }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Código institucional</mat-label>
      <input matInput placeholder="Código institucional" [(ngModel)]="perfil.alumnoCodigo" name="codigo" required />
    </mat-form-field>


    <div class="form-buttons">
      <button mat-button type="button" class="cancelar" (click)="onCancel()">Cancelar</button>
      <button mat-raised-button class="aceptar" type="submit" [disabled]="!inscripcionForm.form.valid">Aceptar</button>
      <!--<button mat-raised-button class="aceptar" type="submit">Aceptar</button>-->
    </div>
  </form>
</mat-dialog-content>