<button mat-icon-button class="close-button" matDialogClose style="float: right;">
  <mat-icon>close</mat-icon>
</button>

<mat-dialog-content class="dialog-content">
  <header class="title-two">{{ isEditing ? 'Editar Instructor' : 'Registrar Instructor' }}</header>
  <form (ngSubmit)="onSubmit(cursoForm)" #cursoForm="ngForm" class="form-content">

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Nombre</mat-label>
      <input matInput [disabled]="isEditing" placeholder="Nombre" [(ngModel)]="instructor.nombre" name ="nombre" required>
    </mat-form-field>

    <!-- <mat-form-field appearance="outline" class="form-field">
      <mat-label>Deporte</mat-label>
      <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="curso.deporte" name="deporte" required="este campo es requerido"
        (ngModelChange)="filtrarDeportes($event)" />

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let d of deporteFiltrado" [value]="d.nombre">
          {{ d.nombre }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field> -->

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Correo</mat-label>
      <input matInput placeholder="Combre" name="correo" [(ngModel)]="instructor.correo" required>
    </mat-form-field>

    
    <div class="form-buttons">
      <button mat-button type="button" class="cancelar" (click)="onCancel()">Cancelar</button>
      <button mat-raised-button class="aceptar" type="submit" [disabled]="!cursoForm.form.valid">Aceptar</button>
      <!--<button mat-raised-button class="aceptar" type="submit">Aceptar</button>-->
    </div>
  </form>
</mat-dialog-content>

<!-- <div class="form-container">
  <mat-card>
    <mat-card-title class="form-title">Inscripción</mat-card-title>
    <form>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="email" placeholder="Correo electrónico" required>
      </mat-form-field> 

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Tipo identificación</mat-label>
        <mat-select>
          <mat-option value="C.C">Cédula ciudadanía</mat-option>
          <mat-option value="Tarjeta identidad">Tarjeta identidad</mat-option>
          <mat-option value="C.Extranjería">Cédula extranjera</mat-option>
          <mat-option value="otro">Otro</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Número identificación</mat-label>
        <input matInput placeholder="Número ID" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Sexo</mat-label>
        <mat-select>
          <mat-option value="Masculino">Masculino</mat-option>
          <mat-option value="Femenino">Femenino</mat-option>
          <mat-option value="Otro">Otro</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Código</mat-label>
        <input matInput placeholder="Código" required>
      </mat-form-field>
    </form>
    <div class="form-buttons">
      <button mat-raised-button class="aceptar">Aceptar</button>
      <button mat-raised-button class="cancelar" >Cancelar</button>
    </div>
  </mat-card>
</div> -->
