.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.form-field {
  width: 100%;
  margin-bottom: 10px;
}

mat-dialog-content {
  max-height: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.image-preview {
  max-width: 80%;
  max-height: 40vh;
  object-fit: contain;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Diseño responsivo */
@media (max-width: 600px) {
  .form-content {
    padding: 10px;
  }

  .form-field {
    width: 100%;
  }

  .image-preview {
    max-height: 40vh;
  }
}