
.containerButons {
  border-bottom: 1px solid rgb(122, 120, 120);
  padding: 10px;
  max-width: 100%;
}

.btnGuardar {
  display: flex;
  justify-content:end;
  align-items: center;
  height: 90px;
}

.btnGuardar button {
  width: 100px; 
  height: 40px; 
  background-color: #000066 !important; 
  color: rgb(251, 251, 252) !important; 
  border-radius: 20px !important; 
  border: none; 
  text-align: center; 
  font-size: 16px; 
  font-weight: bold; 
  cursor: pointer;
}

.btnGuardar button:disabled {
  background-color: #cccccc !important;
  color: #666666 !important; 
  cursor: not-allowed;
}

.listado{
  margin: 10px;
}

.tabla-container {
    overflow-x: auto;
}

table {
    width: 100%;
}

.tabla-info {
  border-collapse: collapse;
  width: 40%;
}

.tabla-info td {
  border: 1px solid #ddd;
  padding: 6px;
}

.tabla-info td:first-child {
  font-weight: bold;
  background-color: #f5f5f5;
  width: 40%;
}