
.containerButons {
  border-bottom: 1px solid rgb(122, 120, 120);
  padding: 10px;
  max-width: 100%;
}

.btnGuardar {
  display: flex;
  justify-content:end; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 90px; /* Altura del contenedor */
}

.btnGuardar button {
  width: 100px; /* Ancho personalizado */
  height: 40px; /* Altura personalizada */
  background-color: #000066 !important; /* Fondo azul */
  color: rgb(251, 251, 252) !important; /* Texto blanco */
  border-radius: 20px !important; /* Bordes redondeados */
  border: none; /* Sin borde */
  text-align: center; /* Alineación del texto */
  font-size: 16px; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  cursor: pointer; /* Cambia el cursor a "puntero" */
}

.btnGuardar button:disabled {
  background-color: #cccccc !important; /* Fondo gris deshabilitado */
  color: #666666 !important; /* Texto gris deshabilitado */
  cursor: not-allowed; /* Cambia el cursor cuando está deshabilitado */
}


.listado{
  margin: 10px;
}


.tabla-container {
    overflow-x: auto;
}

table {
    width: 100%;
}

.tabla-info {
  border-collapse: collapse;
  width: 40%;
}

.tabla-info td {
  border: 1px solid #ddd;
  padding: 6px;
}

.tabla-info td:first-child {
  font-weight: bold;
  background-color: #f5f5f5;
  width: 40%;
}