.cabecero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px; 
  padding: 5px 50px; 
  position: relative;
  border-bottom: 1px solid rgb(122, 120, 120);
  padding: 10px;
  width: 99.8%;
}

.fixed-card {
  width: 380px;
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  height: 260px;
  flex-shrink: 0
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-menu {
  border: none !important;
  background-color: transparent !important;
}

img,
p {
  cursor: pointer;
}

.card_title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* Número de líneas que quieres mostrar */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.text-info {
  text-align: justify;
  justify-content: center;
  background-color: rgb(240, 242, 242);
}

.btnTitulo {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.btnTitulo .btn-menu {
  position: absolute;
  left: 0;
}

.contenido {
  flex: 1;
  min-height: 120px;
  max-height: 250px;
  overflow-y: auto; 
  border: rgb(219, 218, 218) 0.5px solid;
  background-color: rgb(249, 250, 250);
  padding: 10px;
}

.content-tarjet {
  margin-top: 30px; 
  padding: 10px;  
}

.horarios p {
    margin: 2px 0; 
    line-height: 1.2; 
    font-size: 14px;
}

p {
  text-align: center;
  color: black;
}

.shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.no-underline {
  text-decoration: none;
}

.titlleModal {
  text-align: center;
}

.btnInscripcion {
  margin-top: 10px;
}



.btnAgregar {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-60%);
  background-color: #000066 !important;
  border-radius: 20px !important;
  font-size: 16px;
  max-width: 150px;
  width: auto;
}

.btnInscripcion {
  background-color: #000066 !important;
  color: white;
  border-radius: 15px !important;
  font-size: 16px;
  max-width: 150px;
  width: auto;
}



