<button mat-icon-button class="close-button" matDialogClose style="float: right;">
  <mat-icon>close</mat-icon>
</button>


<mat-dialog-content >
  <h2 mat-dialog-title class="title-one" >Confirmar para eliminar el elemento</h2>
  <p class="texConfirmation"> ¿Está seguro que desea eliminar {{data.elemento}} con el identificador "{{ data.identificador}}"?</p>
</mat-dialog-content>
<mat-dialog-actions  align="end">
  <button mat-button mat-dialog-close class="btn-cerrar">Cancelar</button>
  <button mat-button (click)="confirmarEliminar()" class="btn-confirmar">Aceptar</button>
</mat-dialog-actions>