
.fixed-card {
  width: 380px;
  height: 380px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-menu {
  border: none !important;
  background-color: transparent !important;
}

img,
p {
  cursor: pointer;
}

.card_title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.text-info {
  text-align: justify;
  justify-content: center;
  background-color: rgb(240, 242, 242);
}

.contenido {
  border: rgb(219, 218, 218) 0.5px solid;
  background-color: rgb(249, 250, 250);
  padding: 10px;
}

p {
  text-align: center;
  color: black;
}

.shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.no-underline {
  text-decoration: none;
}

.titlleModal {
  text-align: center;
}

.btnInscripcion {
  margin-top: 10px;
}

.btnAgregar {
  background-color: #000066 !important;
  color: rgb(251, 251, 252) !important;
  border-radius: 20px !important;
  padding: 10px 15px;
  font-size: 16px;
  max-width:150px;
  width: 100%;
}

.containerButons {
  border-bottom: 1px solid rgb(122, 120, 120);
  padding: 10px;
  width: 99.8%;
}