<app-sidenav>
    <div class="containerButons">
        <div class="row">
            <div class="col-lg-4 d-flex justify-content-center">
                <div class="col-lg-7">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Selecciona</option>
                        <option value="1">Seleccionados</option>
                        <option value="2">Semilleros</option>
                        <option value="3">Recreativo</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-4 d-flex justify-content-center" *ngIf=" perfil === 'Administrador'" >
                <button class="btnAgregar" (click)="registroDeporte()">
                    Agregar curso +
                </button>
            </div>
            <div class="col-lg-4 d-flex justify-content-center"  *ngIf=" perfil === 'Administrador'" >
                <button type="button" class="btn btn-light border"
                    (click)="configurarInscripcion()">Inscripciones</button>
            </div>
        </div>
    </div>

    <div>
        <h1 class="title-one text-center ">Categoría seleccionada: {{categoria?.titulo}}</h1>
    </div>

    <div style="width: 70%; margin: 0 auto">
        <mat-grid-list [cols]="colsize" rowHeight="360" gutterSize="20px"><!--gutterSize="20px"-->
      
            <mat-grid-tile *ngFor="let item of categoria?.descripcion" [colspan]="1" [rowspan]="1" [style.background]="" > 
                <mat-card class="mycard shadow">
                    <img mat-card-image src="./assets/imagesSystem/deporte.jpg" alt=""
                        (click)="gruposCurso(item)" />
                    <mat-card-content class="contenido">
                        
                        <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="perfil === 'Administrador'" >
                            <mat-icon>settings</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="onUpdate()">
                                <mat-icon>edit</mat-icon>
                                <span>Actualizar</span>
                            </button>
                            <button mat-menu-item (click)="onDelete()">
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                            </button>
                        </mat-menu>
                        <mat-card-title class="card_title title-three-nrs">{{item}}</mat-card-title>

                        <div class="d-flex justify-content-center">
                            <!--<button type="button" class="btn btn-primary" (click)="verInformacion()" PARA MOSTRAR INFORMACIÓN DEL CURSO DE UNA CATEGORÍA
                                style="border: none; background-color: transparent; color: black">
                                Ver información
                            </button>-->
                        </div>

                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

</app-sidenav>  

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="title-three-nrs col-11 text-center" id="exampleModalLabel">
                    {{ cursoSeleccionado?.nombre }}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ cursoSeleccionado?.descripcion }}</p>
            </div>
        </div>
    </div>
</div>
<!--data-bs-target="#exampleModal"-->