.report-container {
  display: flex;
  flex-direction: row; /* Cambiado a fila para que los elementos estén uno al lado del otro */
  gap: 1rem; /* Espaciado entre secciones */
}

h2{
  text-align: center;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* Espaciado entre gráficos */
  max-width: 100%; /* Asegura que los gráficos no desborden */
}

.chart {
  width: 100%; /* Asegura que cada gráfico ocupe todo el ancho disponible */
  height: 300px; /* Ajusta la altura según sea necesario */
  overflow: hidden; /* Evita que el contenido desborde */
}

ngx-charts-bar-vertical,
ngx-charts-pie-chart {
  width: 100%; /* Asegura que los gráficos ocupen todo el ancho del contenedor */
  height: 100%; /* Ajusta la altura para que no sean demasiado grandes */
}

.data-visualization {
  width: 70%;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.actions button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.filters {
  width: 25%;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.filter {
  margin-bottom: 15px;
}

.filter label {
  display: block;
  margin-bottom: 5px;
}

.filter select,
.filter input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center;
}

.btn {
  background-color: #000066 !important;
  color: rgb(251, 251, 252) !important;
  border-radius: 20px !important;
  width: 100px;
  height: 40px;
  text-align: center; /* Asegura el centrado del texto */
}

.contenedor {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  gap: 18px;
}

.btngenerar {
  background-color: #000066 !important;
  color: rgb(251, 251, 252) !important;
  border-radius: 20px !important;
  width: 100px;
  height: 40px;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  
}

.actions {
  display: flex;
  justify-content: center;
  gap: 1rem; /* Espaciado entre botones */
  margin-top: 1rem;
}